<div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="cat__ecommerce__catalog__item">
            <div class="cat__ecommerce__catalog__item__img">
                <div class="cat__ecommerce__catalog__item__like cat__ecommerce__catalog__item__like--selected">
                    <button type="button" class="btn btn-squared btn-outline-info mr-2 mb-2" (click)="onClick(0)">Votar</button>
                </div>
                <a href="javascript: void(0);">
                    <img src="assets/games/cyberpunk.jpg" />
                </a>
            </div>
            <div class="cat__ecommerce__catalog__item__title">
                <a href="javascript: void(0);">Cyberpunk 2077</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="cat__ecommerce__catalog__item">
            <div class="cat__ecommerce__catalog__item__img">
                <div class="cat__ecommerce__catalog__item__like cat__ecommerce__catalog__item__like--selected">
                    <button type="button" class="btn btn-squared btn-outline-info mr-2 mb-2" (click)="onClick(1)">Votar</button>
                </div>
                <a href="javascript: void(0);">
                    <img src="assets/games/death.png" />
                </a>
            </div>
            <div class="cat__ecommerce__catalog__item__title">
                <a href="javascript: void(0);">Death Stranding</a>
            </div>
        </div>
    </div>    
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="cat__ecommerce__catalog__item">
            <div class="cat__ecommerce__catalog__item__img">
                <div class="cat__ecommerce__catalog__item__like cat__ecommerce__catalog__item__like--selected">
                    <button type="button" class="btn btn-squared btn-outline-info mr-2 mb-2" (click)="onClick(2)">Votar</button>
                </div>
                <a href="javascript: void(0);">
                    <img src="assets/games/gta5.jpg" />
                </a>
            </div>
            <div class="cat__ecommerce__catalog__item__title">
                <a href="javascript: void(0);">GTA 5</a>
            </div>
        </div>
    </div>   
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="cat__ecommerce__catalog__item">
            <div class="cat__ecommerce__catalog__item__img">
                <div class="cat__ecommerce__catalog__item__like cat__ecommerce__catalog__item__like--selected">
                    <button type="button" class="btn btn-squared btn-outline-info mr-2 mb-2" (click)="onClick(3)">Votar</button>
                </div>
                <a href="javascript: void(0);">
                    <img src="assets/games/smash.jpg" />
                </a>
            </div>
            <div class="cat__ecommerce__catalog__item__title">
                <a href="javascript: void(0);">Smash Bros Ultimate</a>
            </div>
        </div>
    </div>    
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="cat__ecommerce__catalog__item">
            <div class="cat__ecommerce__catalog__item__img">
                <div class="cat__ecommerce__catalog__item__like cat__ecommerce__catalog__item__like--selected">
                    <button type="button" class="btn btn-squared btn-outline-info mr-2 mb-2" (click)="onClick(4)">Votar</button>
                </div>
                <a href="javascript: void(0);">
                    <img src="assets/games/duty.jpg" />
                </a>
            </div>
            <div class="cat__ecommerce__catalog__item__title">
                <a href="javascript: void(0);">Call of Duty</a>
            </div>
        </div>
    </div>     
</div>