<nav class="cat__menu-left">
    <div class="cat__menu-left__lock cat__menu-left__action--menu-toggle">
        <div class="cat__menu-left__pin-button">
            <div><!-- --></div>
        </div>
    </div>
    <div class="cat__menu-left__logo">
        <a [routerLink]="['/']">
            <img src="" />
        </a>
    </div>
    <div class="cat__menu-left__inner">
        <ul class="cat__menu-left__list cat__menu-left__list--root">
              
            <li class="cat__menu-left__item cat__menu-left__submenu" [routerLinkActive]="['cat__menu-left__item--active']">
                <a href="javascript: void(0);">
                    <span class="cat__menu-left__icon fa fa-adn"></span>
                    Opciones
                </a>
                <ul class="cat__menu-left__list">
                    <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                        <a (click)=logout()>
                            <span class="cat__menu-left__icon">S</span>
                            Salir
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
